.canvas_btn {
  background-color: #015958; }

.offcanvas-header {
  background-color: #015958; }
  .offcanvas-header h5 {
    margin-left: 120px;
    color: white; }

.offcanvas-body {
  background-color: #015958; }
  .offcanvas-body .sidebar-item img {
    margin: 10px; }
  .offcanvas-body span {
    font-size: 20px;
    color: white; }

footer {
  background-color: #d9d9d9; }
  footer i {
    color: #015958; }
  footer p {
    margin: 0;
    padding: 2px; }
  footer .Cont_Footer {
    width: 50%;
    border-bottom: 2px solid #015958;
    padding: 10px 0px; }
    footer .Cont_Footer a {
      text-decoration: none; }
    footer .Cont_Footer i {
      border-bottom: none; }
  footer .Copy {
    color: white;
    bottom: 5px; }
  footer .Cont_Footer--I {
    border-bottom: none; }
  @media screen and (min-width: 768px) {
    footer .Cont_Footer {
      width: none;
      border-bottom: none;
      padding: 50px; } }

main {
  background-color: #dfdfdf; }

.Main_Section_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "Ofertas Notebook Notebook" "Ofertas Notebook Notebook" "Ofertas Horario atencion";
  padding: 5% 8%;
  gap: 3%; }
  .Main_Section_img img {
    height: 100%;
    width: 100%; }

.Ofertas {
  grid-area: Ofertas; }

.Notebook {
  grid-area: Notebook; }

.Horario {
  grid-area: Horario; }

.Attention {
  grid-area: Atencion; }

.Carrousel_banner {
  width: 80%; }

.Carrousel_Deskop {
  width: 75%; }

.Carrousel_Mobile {
  width: 80%; }

.Carrousel_inner {
  background: #D0D0D0;
  border-radius: 5px; }
  .Carrousel_inner .Cards-Wrap {
    display: flex; }
    .Carrousel_inner .Cards-Wrap .card {
      background-color: #bab9b9;
      margin: 5px;
      flex-direction: column;
      text-align: center; }
      .Carrousel_inner .Cards-Wrap .card .card-body p {
        font-size: 20px;
        line-height: 41px; }

.Cuenta {
  background: #D9D9D9;
  box-shadow: -2px 3px 12px 9px rgba(0, 0, 0, 0.25);
  width: 100%; }
  .Cuenta button {
    width: 50%;
    height: 60px;
    background-color: #015958; }
  .Cuenta a {
    text-decoration: none; }
  .Cuenta li {
    list-style-type: none; }
    .Cuenta li i {
      color: #015958; }

nav {
  background: linear-gradient(0deg, #015958 0%, #023535 65%); }
  nav .btn-primary {
    border: none;
    background-color: transparent; }
  nav .btn-primary:hover {
    background-color: transparent; }
  nav img {
    width: 60px; }
  nav .header {
    height: 75px; }

.nav {
  height: 65px; }

.input_responsive input {
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #015958;
  outline: none;
  border-radius: 30px;
  transition: all 0.6s ease; }

.input_responsive .btn {
  position: relative;
  right: 49px;
  bottom: 2px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #015958;
  color: white;
  border-radius: 50%;
  padding: 0px; }

.nav {
  display: none; }

.input_responsive:hover input {
  width: 240px; }

.nav_redirects i {
  margin-right: 20px;
  color: white; }

.redirects a {
  color: white;
  text-decoration: none; }

.SearchBar input {
  width: 60%;
  height: 42px;
  background: #0CABA8;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  border-radius: 5px; }

.nav p {
  color: white;
  font-size: 20px; }

.List li {
  list-style-type: none;
  text-shadow: 0px 4px 4px black; }
  .List li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin: 20px; }

.Register {
  background: #D9D9D9;
  box-shadow: -2px 3px 12px 9px rgba(0, 0, 0, 0.25);
  width: 100%; }
  .Register .list input {
    width: 80%; }
  .Register button {
    width: 50%;
    height: 60px;
    background-color: #015958; }
  .Register ul {
    list-style-type: none; }
    .Register ul i {
      color: #023535; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.Whoiam {
  display: flex;
  justify-content: center; }

.Quienes_Somos {
  width: 60%; }
  .Quienes_Somos .Banner img {
    height: 350px;
    width: 100%; }
  .Quienes_Somos .Nosotros p {
    width: 100%;
    margin-bottom: 20px; }
  .Quienes_Somos .Nosotros img {
    width: 200px;
    height: 200px; }
  .Quienes_Somos .Nosotros .PCQS {
    margin-left: 20px; }
  .Quienes_Somos .Nosotros .PCQS2 {
    margin-right: 20px; }
  @media screen and (max-width: 1200px) {
    .Quienes_Somos .Quienes_Somos {
      width: 100%; }
    .Quienes_Somos .Nosotros {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .Quienes_Somos .Nosotros .PCQS {
        margin: 0px; }
      .Quienes_Somos .Nosotros .PCQS2 {
        margin: 0px; }
    .Quienes_Somos .Nosotros .texto, .Quienes_Somos .Nosotros .PP_contenido {
      width: 100%;
      margin-bottom: 20px; }
    .Quienes_Somos .ComoTrabajamos {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .Quienes_Somos .ComoTrabajamos .texto, .Quienes_Somos .ComoTrabajamos .PP_contenido {
      width: 100%;
      order: 1; }
    .Quienes_Somos .ComoTrabajamos IMG {
      order: 2;
      margin-top: 20px; } }

.Whoiam {
  display: flex;
  justify-content: center; }

.Quienes_Somos {
  width: 60%; }
  .Quienes_Somos .Banner img {
    height: 350px;
    width: 100%; }
  .Quienes_Somos .Nosotros p {
    width: 100%;
    margin-bottom: 20px; }
  .Quienes_Somos .Nosotros img {
    width: 200px;
    height: 200px; }
  .Quienes_Somos .Nosotros .PCQS {
    margin-left: 20px; }
  .Quienes_Somos .Nosotros .PCQS2 {
    margin-right: 20px; }
  @media screen and (max-width: 1200px) {
    .Quienes_Somos .Quienes_Somos {
      width: 100%; }
    .Quienes_Somos .Nosotros {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .Quienes_Somos .Nosotros .PCQS {
        margin: 0px; }
      .Quienes_Somos .Nosotros .PCQS2 {
        margin: 0px; }
    .Quienes_Somos .Nosotros .texto, .Quienes_Somos .Nosotros .PP_contenido {
      width: 100%;
      margin-bottom: 20px; }
    .Quienes_Somos .ComoTrabajamos {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .Quienes_Somos .ComoTrabajamos .texto, .Quienes_Somos .ComoTrabajamos .PP_contenido {
      width: 100%;
      order: 1; }
    .Quienes_Somos .ComoTrabajamos IMG {
      order: 2;
      margin-top: 20px; } }

main {
  background-color: #dfdfdf; }
