@import"../utilities/extend";
@import"../utilities/mapas";
@import"../utilities/mixing";
@import"../utilities/variables";

.Whoiam{display: flex;
    justify-content: center;
}

.Quienes_Somos {
    width: 60%;
    .Banner img {
        height: 350px;
        width: 100%;
    
    }
    .Nosotros {
        p{
            width: 100%;
            margin-bottom: 20px;}
        img{
            width: 200px;
            height: 200px;
        }
        .PCQS{
            margin-left: 20px;
        }
        .PCQS2{
            margin-right: 20px;
        }
    }
    @media screen and (max-width: 1200px){
        .Quienes_Somos{
            width: 100%;
            
        }

        .Nosotros{
            @include flex(flex,column,center);
            .PCQS{
                margin: 0px;
            }
            .PCQS2{
                margin:0px;
            }
        
        }
            
        .Nosotros .texto{
            width: 100%;
            margin-bottom: 20px;
        
        }
        
        .ComoTrabajamos{
            @include flex(flex,column,center);
        
        }
            
        .ComoTrabajamos .texto{
            width: 100%;
        order: 1;}
        
        .ComoTrabajamos IMG{
            order: 2;
            margin-top: 20px;
        
        }
        
    }
        

}